/Library/
/Temp/
/Obj/
/obj/
/Logs/
/UserSettings/
/Builds/
/TestResults/
/Assets/__Framework2DChecks/
/Assets/__Framework2DChecks.meta
/.codex/
/.idea/
/.vs/
/*.csproj
/*.sln
/*.slnx
/*.sln.DotSettings.user
/*.pidb
/*.user
/*.booproj
/*.unityproj
